
.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25rem 2.5rem;
  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.butn::after {
  background: #fff;
  content: "";
  height: 300px;
  opacity: 0;
  position: absolute;
  transform: rotate(35deg);
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}
.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3); */
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}
.butn span {
  z-index: 20;
}
