@keyframes fadeIn {
  0% {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  100% {
    opacity: 1;
  }
}

.drawing div [class*="mobile-misc-tools-container"] {
  display: none;
}

.drawing {
  animation: fadeIn 0.25s ease-in-out;
}