.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: light-dark(#eeeef1, #26252a); /* hardcoded */
  overflow-y: visible;
}

.app {
  padding-top: 70px;
  flex-grow: 1;
  display: flex;
}

.notifications {
  position: fixed;
  top: 80px;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
}